.title {
    text-align: center;
    margin-bottom: 20px;
}

.result {
    width: 650px;
    margin: auto;
    margin-bottom: 20px;
}

.message {
    width: 500px;
}

.enigma {
    width: 650px;
    margin: auto;
    background-color: #545454;
    border-width: 10px; border-style: solid; border-color: #da7d00;
    border-radius: 0.5rem;
}

.logo {
    overflow: hidden;
    float: right;
}

.upside{
    overflow: hidden;
}

.keys, .bulbs {
    margin-right: 20px;
    border-radius: 1.25rem !important;
}

.keys {
    width: 40px;
}

.bulbs {
    background-color: #212121;
    width: 40px;
    height:40px;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
    border-width: 1px; border-style: solid; border-color: #d1d1d1;
}

.switchedOn {
    background-color: #fc9d03;
}

.switchedOff {
    background-color: #212121;
}

.keyRows {
    margin-left: 10px;
    margin-bottom: 20px;
}

.bulbRows {
    margin-left: 10px;
    margin-bottom: 20px;
}

#bulbRow-1, #keyRow-1 {
    margin-left: 40px;
}

#bulbRow-2, #keyRow-2 {
    margin-left: 60px;
}

.keyContainer {
    padding: 15px;
    border-top: 2px solid black;
}

.bulbContainer {
    border-top: 2px solid black;
    padding: 15px;
}

.btn-dark {
    border-color: #ffffff !important;
}

.keys, .bulbs {
    border-radius: 1.25rem !important;
}

.key-shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .90)
}

.rotors {
    float: left;
    padding-top: 20px;
    margin-left: 20px;
}

.rotorContainer {
    overflow: hidden;
    width: 70px;
    height: 140px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.rotorLeftSide {
    float: left;
    overflow: hidden;
}

.forwardButton {
    border-radius: 1.25rem !important;
    color: #fff;
}

.backButton {
    border-radius: 1.25rem !important;
    float: left;
}

.positionNumber {
    background-color: white;
    /*padding: 15px;*/
    width: 30px;
    border-style: inset;
    border-width: 2px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wheel {
    float: right;
    background-color: #d1d1d1;
    width: 10px;
    height: 140px;
}

#rotorContainer_1, #rotorContainer_2 {
    float: left;
}

.plugboardContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid black;
}

.plugboardRows {
    overflow: hidden;
    margin-left: 120px;
    margin-bottom: 10px;
}

#plugboardRow-2 {
    margin-left: 140px;
}

.socketContainer {
    float: left;
    text-align: center;
    margin-right: 25px;
}

.socketLabel {
    margin-bottom: 0 !important;
    color: #fff;
}

.socketLetter {
    background-color: #ddd;
    border-style: inset;
    border-width: 2px;
    width: 20px;
    text-align: center;
    color: #545454;
}

.sockets {
    display: block;
    margin: 0 auto;
    margin-bottom:  5px;
}

.socketConnection {
    background-color: #33cc33;
    color: #fff;
}

